.home-page-wrapper__inner .carousel {
    margin-block-end: 2px;
}

.explore-products-text{
    text-align: center;
}

.inital-product-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}


.explore-product-label {
    border-bottom: 4px solid orange;
    padding-bottom: 5px;
    font-size: 28px;
    font-weight: 400;
}

.explore-more-btn__wrapper {
    display: flex;
    justify-content: center;
    margin-block: 3em;
}

.explore-more-btn {
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid lightslategray;
    cursor: pointer;
}

.explore-more-btn:hover {
    background-color: rgb(50, 50, 160);
    color: white;
}