.new-arrival-wrapper {
    text-align: center;
    margin-block: 10px;
}

.new-arrival-wrapper .new-arrival-label {
    border-bottom: 4px solid orange;
    padding-bottom: 5px;
    font-size: 28px;
    font-weight: 400;
}

.new-arrival-grid {
    display: grid;
    grid-template-areas:
        "item1 item2"
        "item1 item3"
        "item1 item4";
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.item-1 { grid-area: item1; }
.item-2 { grid-area: item2; }
.item-3 { grid-area: item3; }
.item-4 { grid-area: item4; }

.new-arrival-item {
    background: #fff;
    border: 1px solid lightslategray;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    padding: 15px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.product-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.new-arrival-detail-wrapper .text {
    font-size: 18px;
    font-weight: 600;
}

.description {
    font-size: 14px;
    line-height: 1.4;
    color: #555;
}
