.navbar-wrapper-main__outer {
    box-sizing: border-box;
    width: 100%;
    background-color: #23acb1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 50px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 99;
  }

  .navbar-wrapper-main {
    display: flex    ;
    gap: 1em;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .glam-cart-name-wrapper{
    /* margin: 0 1.5em;
    padding-bottom: 10px; */
  }

  .buttons-wrapper {
    align-items: center;
    gap: 0.3em;
    cursor: pointer;
  }

  .search-bar-wrapper{
    display: flex;
    align-items: center;
  }

  .search-bar-wrapper__inner {
    display: flex;
  }

  .cart-and-profile-icon-wrapper{
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
  }
  a{
    text-decoration: auto;
    color: white;
  }

  .profile-icon-wrapper, .cart-icon-wrapper, .search-icon, .favourite-icon-wrapper {
    font-size: 24px;
  }

  .nav-btn:hover {
    color: rgb(87, 25, 116);
  }

  .cart-icon-wrapper:hover, .profile-icon-wrapper:hover, .cart-icon-wrapper:hover {
    color: rgb(87, 25, 116);
  }

  a:hover {
    color: rgb(87, 25, 116);
  }

  
  .search-here {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    outline: none;
    border: 1px solid slategray
  }

  .favourite-icon-wrapper, .cart-icon-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .fav-count-label, .cart-count-label {
    position: absolute;
    top: -6px;
    right: -10px;
    background: #ff5252;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    min-width: 10px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }  

  a:hover {
   border-bottom: 2px solid orangered;
   padding-bottom: 5px;
  }

  