.product-card-wrapper__outer {
  border: 1px solid lightslategray;
  border-radius: 5px;
  padding: 10px;
}

.product-thumbnail-wrapper {
  position: relative;
  border: 2px solid orange;
  border-radius: 5px;
}

.like-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}

.product-name {
  font-size: 22px;
  font-weight: 600;
  margin: 5px;
  max-width: 305px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-description {
  max-width: 305px;
  font-size: 14px;
  margin: 5px;
}

.product-disc-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-block-end: 5px;
}

.product-disc {
  border: 1px solid lightslategray;
  padding: 5px;
  color: green;
  font-weight: 600;
}

.product-left-label{
  color: red;
}

.product-price {
  font-size: 22px;
  font-weight: 600;
  margin-block-end: 5px;
}

p{
  margin: 0;
}

.purchase-btn-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.free-delivery-wrapper{
  color: rgb(100, 100, 211);
  padding-top: 2px;
  font-weight: 600;
}

.btn {
  padding: 0.6em;
  border-radius: 10px;
  border: 1px solid transparent;
  margin-inline-end: 0.7em;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.red-color {
  color: red;
}

.product-card-wrapper__outer img {
  height: 300px;
    width: 300px;
    object-fit: cover;
}