.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  
  .carousel-content {
    display: flex;
    align-items: center;
    gap: 2em;
    background-color: #2E2869;
  }
  
  .carousel img {
    width: 300px;
    height: auto;
    border-radius: 10px;
  }
  
  .carousel .text {
    font-size: 40px;
    font-weight: bold;
  }

  .carousel .description {
    font-size: 18px;
    line-height: 30px;
    padding: 5px;
  }
  
  .carousel button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    color: whitesmoke;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

  .carousel-detail-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  