.nav-link-lable-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    margin-inline: 0.5em;
}

a{
    display: flex    ;
    align-items: center;
    justify-content: center;
    gap: 1em;
    text-decoration: unset !important; 
    color: unset !important; 
}