.toast-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 20px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 9999;
  }

  .toast-notification p, .close-btn{
    color: white;
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }

  .color-green {
    background-color: #22b115;
    color: #111010;
  }

  .color-red {
    background-color: #f02b1d;
    color: white;
  }
  